html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:5%;
    margin-left: -13.5px;
    transform:rotateZ(90deg);
}

/*
 * .s1 第一屏样式
 */


.s1{
    background:url("../img/bj.png");
    position: relative;
    height: 100%;
}
.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 40px;
    top: 130px;
    left: 50px;
}
.s1 .header img:nth-of-type(2){
    width: 70px;
    right:38px;
    top:90px;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    bottom:190px;
    left: 25px;
}
.s1 .header img:nth-of-type(4){
    width: 60px;
    bottom: 200px;
    right:50px;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    top: 25%;
    left: 50%;
    margin-left: -35%;
}

.s1 .main{
    position: absolute;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
}
.s1 .main .img9{
    background:url("../img/9.png");
    width: 210px;
    background-size:100%;
    margin-left: 22%;
    font-family: 微软雅黑;
}

.s1 .footer{
    position: absolute;
    bottom:15%;
    left: 20%;
    color:#00efc1;
}

.s1 .footer p{
    line-height: 20px;
}
.s1 .footer img:nth-of-type(1){
    position: absolute;
    bottom: -112px;
    left:-329px;
}
.s1 .footer img:nth-of-type(2){
    position: absolute;
    bottom: -115px;
    left:-160px;
}